body {
margin: 0;}

/* General Styles for Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Logo styles */
.logo a.logo-content {
    font-family: 'Times New Roman', serif; /* Substitute for jsmath-cmti10 */
    font-style: italic;
    font-size: 24px;
    text-decoration: none;
    color: black; /* Dark grey color for better readability */
    display: block; /* Ensures that the <a> tag behaves like a block element */
}


/* Navigation link styles */
.nav-link {
    font-family: 'Imprima', sans-serif;
    font-size: 18px;
    color:black;
    text-decoration: none;
    margin-left: 15px; /* Space between the navigation links */
}

.nav-link:hover {
    color: #087289; /* Darker grey on hover for visual feedback */
}

.banner {
    display: flex; /* Use flexbox for positioning children */
    justify-content: center; /* Horizontally center the child */
    align-items: center; /* Vertically center the child */
    height: 100%; /* Optional: Adjust depending on your layout needs */
    position: relative; /* Needed for absolute positioning of overlays */
    margin-top: 50px;
}


.main-banner {
    background-image: url('./images/banner1.png'); /* Path to your background image */
    background-size: cover; /* Cover the entire area of the div */
    background-position: center; /* Center the background image */
    text-align: center; /* Center all text horizontally */
    padding: 20px; /* Padding around the content */
    position: relative; /* Ensures stacking context for overlay */
    width: 80%; /* Adjust the width to your preference */
    height: 400px; /* Fixed height */
    box-sizing: border-box; /* Include padding and border in the width and height */
    display: flex; /* Using Flexbox to center content */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

.main-banner strong,
.main-banner p,
.main-banner button {
    margin-bottom: 10px; /* Adds space after each element */
    font-family: 'Imprima', sans-serif;

}

.main-banner p {
    margin-bottom: 0; /* Removes bottom margin */
    margin-top: 0; /* Removes top margin, add this if you want to remove all vertical margins */
}


.banner-overlay {
    position: absolute; /* Positioning outside the normal flow */
    color: black; /* Text color */
    padding: 5px 10px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners for aesthetic */
    font-size: 40px;
    font-family: 'Kalam', cursive;

}

.banner-overlay.top-left {
    margin-bottom: 30%;
    left: 10px; /* Position from the left of the parent */
    text-align: right;
}

.banner-overlay.bottom-right {
    margin-top: 30%;
    right: 10px; /* Position from the right of the parent */
    text-align: left;
}

p, li {
    font-family: 'Imprima', sans-serif;
}

.text-panel {
    background-color: #2D5B65;
    margin-top: 5%;
    padding: 5%;
}

.white-font {
    color: white;
}

h3 {
    font-family: 'Indie Flower', cursive; /* Indie Flower font, with a fallback to cursive */
    text-align: center;
    margin-bottom: 5vh;
}

h4 {
    font-family: 'Indie Flower', cursive; /* Indie Flower font, with a fallback to cursive */
    text-align: center;
}

.specialties {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75vw;
}

.card {
    margin-right: 7vw;
}

.card-image {
    height: 30vh; /* Set the height of the image to 50 pixels */
    width: auto; /* Maintain the aspect ratio */
}

footer {
    padding-top: 3vh;
    padding-bottom: 3vh;
    background: #087289;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Ensure alignment is centered for all child elements */
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%; /* Ensure it spans the full width of the footer for even spacing */
}

.footer-contact {
    display: flex;
    flex-direction: column;
}

.footer-button-section {
    text-align: center; /* Center the text and button */
    width: 100%; /* Full width to center align easily */
}

footer a {
    font-family: 'Imprima', sans-serif;
    padding: 0;
    margin: 0;
    color: white; /* Ensure links are white in the footer */
    text-decoration: none;
    font-size: 13px;
}

footer h5 {
    font-family: 'Imprima', sans-serif;
    color: white;
    font-size: 13px;
}

footer p {
    text-align: center;
}

footer a.logo-content {
    font-family: 'Times New Roman', serif; /* Substitute for jsmath-cmti10 */
    font-style: italic;
    font-size: 24px;
    text-decoration: none;
    color: white; /* Dark grey color for better readability */
    display: block; /* Ensures that the <a> tag behaves like a block element */
}

.dark-button {
    margin-top: 20px; /* Optional: adds space above the button */
    width: 25vw; /* Adjust width as per design requirement */
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
    
.dark-button:hover {
    background-color: rgba(0, 0, 0, 0.4); /* Black background with 30% transparency on hover */
}

.light-button {
    margin-top: 20px; /* Optional: adds space above the button */
    margin-right: 2px;
    margin-left: 2px;
    width: 25vw; /* Adjust width as per design requirement */
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
    
.light-button:hover {
    background-color: rgba(0, 0, 0, 0.4); /* Black background with 30% transparency on hover */
}

.toggles {
    display: flex;
    flex-direction: column;
    align-items: left;  /* This aligns children horizontally in the center */
    justify-content: center;  /* This aligns children vertically in the center */
    font-family: 'Imprima', sans-serif;
    text-align: left; /* Ensures that the text inside each child div is centered */
    width: 100%; /* Ensures the flex container takes full width */
    margin-bottom: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;



}

.toggles .button-set{
    display: flex;
    justify-content: center;
}

.about-columns {
    display: flex;
}

.about-columns p {
    margin: 5vw;
}

.about-image {
    height: 40vh; /* Set the height of the image to 50 pixels */
    width: auto; /* Maintain the aspect ratio */
    margin-left: 6vw;
    margin-top: 5vw;
}

.about-overlay {
    position: absolute; /* Positioning outside the normal flow */
    color: black; /* Text color */
    padding: 5px 10px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners for aesthetic */
    font-size: 40px;
    font-family: 'Kalam', cursive;
    left: 10px; /* Position from the left of the parent */
    text-align: left;
}

h2 {
    color: black;
    font-size: 40px;
    font-family: 'Kalam', cursive;
    text-align: center;
}

.medium-banner-container {
    display: flex;
    justify-content: center;
}

.banner-medium {
    width: 70vw;
    height: auto;
    margin-bottom: 10vh;
}

.fees-container {
    padding: 5vw;
}

h6, label {
    color: #087289;
    font-size: 20px;
    font-family: 'Kalam', cursive;
    text-align: left;
    margin: 0;
}

.fees-container .button-set{
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vh;
    width: 100vw;
}


label {
    width: 10vw;
}

input, .text-area {
    width: 60vw;
    margin: 5px;
    border-radius: 5px;
    border-color:2px grey;
}

form div {
    width: 70vw;
    display: flex;
    margin: 2.5px;
}

.submit {
    display: flex;
    justify-content: center;
}

.toggles h6 {
    cursor: pointer;
    user-select: none;
}